.forecast-wrapper {
    padding: 0 4em;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.weekly-forecast-wrapper {
    display: flex;
    justify-content: center;
}

.weekly-forecast-wheel {
    width: 80%;
    height: 35vh;
    overflow: scroll;
    border-radius: 25px;
    outline: .5px solid black;
}

.day-card {
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.20);
    color: white;
    border-bottom: 1px solid grey;
    padding: 0 0.5em;
}

.day-card:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.30);
    filter: brightness(90%);
}

.day-card.active {
    background: linear-gradient(45deg, #a2a2a2, silver);
}

.day-card .day {
    padding: .5em;
}

.day-card .temp {
    margin-left: auto;
}
