.top-bar {
    height: 48px;
    background-color: rgba(0,0,0,0.20);
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.search-button {
    background: none;
    border: none;
    margin-left: auto;
}

.search-button:hover {
    transform: scale(1.05);
    transition: .3s;
}

.search-button svg {
    height: 20px;
}

svg:hover {
    cursor: pointer;
}

/* From Section */
.zip-form {
    width: 100%;
    position: relative;
}

.zip-form--content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 12px;
    transition: ease-in-out 1s;
}

.top-bar.showing .zip-form--content { 
    opacity: 1;
}

.top-bar.hidden .zip-form--content {
    pointer-events: none;
    opacity: 0;
}

.zip-form .form-group{
    font-size: 16px;
}

.zipcode-input {
    margin-right: 10px!important;
}

.form-group * {
    font-size: 16px;
    line-height: 2;
    margin: 0;
    border: 0!important;
}

.country-group select {
    border-radius: 5px;
    padding: 4px;
}

.zip-group input {
    border-radius: 5px;
    padding: 4px;
    height: 2em;
}

.zip-group button {
    border-radius: 15px;
    padding: 0 6px;
    background-color: var(--lavender-main-1);
    color: var(--text-color);
}

.zip-group button:hover {
    filter: brightness(110%);
}

.top-bar.showing .search-button svg {
    fill: var(--lavender-main-1);
}
.top-bar .search-button svg:hover {
    fill: white;
}    
